body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins',
        sans-serif;
}


/* Navbar */
.navbar {
    -webkit-box-shadow: 0px 15px 44px -20px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 15px 44px -20px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 15px 44px -20px rgba(0, 0, 0, 0.75);
    background-color: #240D6c;
}

.navbar-brand {
    font-weight: 600;
    margin-left: 20px;
}

.navbar-brand span {
    color: #ffa62b;
}

.nav-link {
    margin: 0 20px;
    font-weight: 400;
    font-size: 14px;
}

.tbl {
    border-radius: 20px;
    width: 100px;
    outline: none;
    background-color: #3b2972;
}


/* Jumbotron */
.jumbotron {
    width: 100%;
    height: 540px;
    background-image: url(img/jumbo.png);
    background-attachment: fixed;
}

.jumbo {
    background-size: repeat;
    display: relative;
}

.jumbotron .isi {
    margin: 140px auto;
    display: inline-block;
    position: absolute;
    max-width: 980px;
}

.jumbotron .isi h1 {
    color: white;
    font-size: 60px;
    text-shadow: 1px 1px 1px black;
}

.jumbotron .isi h1 span {
    color: #ffa62b;
    font-weight: 600;
}

.jumbotron .isi p {
    color: rgb(199, 199, 199);
    font-weight: 200;
}

/* Content */

.content {
    margin: 160px 0;
}

.content h1 {
    font-size: 48px;
    font-weight: 600;
}

.content h1 span {
    font-size: 52px;
    color: #240D6c;
    font-weight: 600;
}

.svg {
    width: 120px;
}

.c-1 {
    margin: 160px auto;
    text-align: center;
}

.c-1 p,
.c-2 p {
    margin: 20px 0;
    font-weight: 600;
}

.c-2 {
    margin: 40px auto;
    text-align: center;
}

/* About */
.about {
    height: 500px;
    background-color: #240D6c;
    color: white;
}

.about h1 {
    margin: 70px auto;
    font-size: 64px;
    display: inline-block;
}

.about p {
    color: rgb(175, 175, 175);
    font-weight: 400;
    margin-bottom: 80px;
    font-size: 16px;
    display: inline-block;
}

/* Color Picker */
.c-pick {
    height: 600px;
    display: inline-flex;
    background-color: rgb(255, 255, 255);
}

.slider h1 {
    margin: 60px 0;
    font-weight: 600;
}

.kotak {
    width: 40px;
    height: 40px;
    margin: 40px;
}

.merah {
    background-color: rgb(245, 61, 61);
}

.hijau {
    background-color: rgb(71, 206, 71);
}

.biru {
    background-color: rgb(74, 74, 245);
}

.slide {
    width: 480px;
}

.s-merah {
    color: rgb(245, 61, 61);
}

.s-hijau {
    color: rgb(71, 206, 71);
}

.s-biru {
    color: rgb(74, 74, 245);
}

/* Slider */


.canvas {
    position: absolute;
    width: 600px;
    height: 700px;
    background-color: #709fb0;
    float: right;
    margin: -600px 200px;
    overflow: scroll;
    -webkit-box-shadow: 0px 15px 44px -20px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 15px 44px -20px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 15px 44px -20px rgba(0, 0, 0, 0.75);
}


/* Section */

.testi {
    margin-top: 180px;
    position: relative;
    display: inline-block;
    background-color: #ececec;
    height: 800px;
}

/* Footer */

.footer {
    bottom: 0;
    background-color: #240D6c;
    width: 100%;
    height: 80px;
    color: white;
    text-align: center;
    padding: 60px;
}

.footer .wrap {
    display: inline-block;
    margin: -40px auto;
}

.footer a {
    background-color: #4a3783;
    padding: 14px 10px;
    border-radius: 10px;
    opacity: .8;
}

.footer a:hover {
    opacity: 1;
}







/* Phone */


@media (max-width: 575.98px) {

    /* Navbar */
    .navbar:active {
        opacity: 0.5;
    }

    .navbar-nav {
        margin-top: 30px;
    }

    .nav-item:active {
        opacity: 1;
    }

    .nav-link {
        line-height: 10px;
        font-size: 16px;
        margin: 20px 30px;
        padding: 10px 20px;
        border-radius: 20px;
    }

    .nav-link:hover {
        background-color: #391f8a;
    }

    .tbl {
        margin: 20px 30px;
        float: left;
    }

    /* Jumbotron */
    .jumbotron {
        height: 470px;
    }

    .jumbotron .isi {
        margin: 110px 20px;
        max-width: 400px;
    }

    .jumbotron .isi h1 {
        font-size: 29px;
    }

    .jumbotron .isi p {
        font-size: 9px;
    }

    /* Content */

    .content h1,
    .content h1 span {
        font-size: 30px;
        margin: -80px 0;
    }

    .c-1,
    .c-2 {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .c-1 .col-md-3 {
        justify-content: space-between;
        float: left;
    }

    .svg {
        width: 60px;
    }

    /* About */
    .about {
        height: 440px;
    }

    .about h1 {
        font-size: 50px;
        margin: 40px;
        display: inline-block;
    }

    .about p {
        font-size: 12px;
        text-align: center;
        max-width: 400px;
        margin: 10px 20px;
    }

    /* C-pick */

    .c-pick {
        display: inline-block;
    }

    .c-pick .slide {
        width: 160px;
        height: 10px;
    }

    .canvas {
        margin: -360px 240px;
        width: 200px;
        height: 400px;
    }

    /* Testi */
    .testi {
        height: 1200px;
    }

    .testi p {
        font-size: 14px;
        color: rgb(143, 143, 143);
    }

    .testimonial {
        text-align: center;
    }

    .testimonial img {
        width: 120px;
    }

    .testimonial p {
        font-size: 12px;
        text-align: center;
    }

    .footer {
        bottom: 0;
    }


}

/* Tablet */
